
body.nighttime {
  color: #FFF;
}

body.nighttime::before {
  opacity: 1;
}

.nighttime h1 {
  background-image: linear-gradient(to right, #FFF 33%, rgba(255,255,255,0) 0%);
}

.nighttime .settings {
  background-color: rgba(0,0,0,0.4)
}

.nighttime .faux-check::before {
  border-color: #FFF;
}

.nighttime .faux-check::after {
  background-color: #FFF;
}

.nighttime .start-button::before {
  background: #d88b33 linear-gradient(-95deg, #d4592d, #d88b33);
}