html, body {
/*   min-height: 400; */
  height:400;
}

body {
  /* height: 400; */
  background: #d88b33 linear-gradient(-95deg, #d4592d, #d88b33);
  color: #3b3b39;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease;
}

body::before {
  content: "";
  width: 400px;
  height: 450px;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  opacity: 0;
  /* transition: all 0.5s ease; */
  z-index: -1;
  background: #2c1e48 linear-gradient(-45deg, #1e0c38, #2c1e48);
}

.row {
  position: relative;
}

h1 {
  letter-spacing: 4px;
  font-size: 1.8em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 10px 0;
  font-weight: 400;
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 8px 2px;
  background-repeat: repeat-x;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 14px;
}

label {
  text-transform: uppercase;
  display: block;
  padding: 5px 0;
}

.settings {
  width: 200;
  height: 350;
/*   margin: auto; */
  background-color: #e3e0d7;
  padding: 0 20px 40px 20px;
  border-radius: 6px;
  box-shadow: 0 20px 20px -5px rgba(0,0,0,0.4);
  transition: background-color 0.8s ease;
}

.custom-check {
  display: block;
  padding-left: 50px;
  position: relative;
  margin-bottom: 10px;
}

.custom-check input[type="checkbox"], .faux-check {
  position: absolute;
  left: 0;
  top: 0;
  /* width: 25px; */
  height: 56px;
  opacity: 0;
  display: block;
  z-index: 1;
}

.faux-check {
  opacity: 1;
  z-index: 0;
  transform: rotate(90deg);
}

.faux-check::before {
  content: "";
  width: 34px;
  height: 100%;
  display: block;
  border: 3px solid #3b3b39;
  box-sizing: border-box;
  border-radius: 500px;
  transition: border-color 0.6s ease;
}

.faux-check::after {
  content: "";
  position: absolute;
  top: 13%;
  left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3b3b39;
  transition: top 0.4s ease, background-color 0.6s ease;
}

.custom-check input[type="checkbox"]:checked ~ .faux-check::after {
  top: 50%;
}
